@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Rubik", system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}

nav a.active {
  color: rgb(0, 149, 255);
}

.section {
  padding: 1rem;
  padding-bottom: 5rem;
}

.dayroutine {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
}

.habcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.habit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(157, 188, 35, 0.221);
  padding: 0.5rem;
  border-radius: 10px;
}

.habitmain {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.subhabit {
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
  gap: 0.5rem;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #cccccc9a;
  background-color: #fff;
  cursor: pointer;
  border-radius: 100%;
}

input[type="checkbox"]:checked {
  background-color: rgb(0, 149, 255); /* Cambia el fondo cuando está marcada */
  border-color: rgb(0, 116, 200);
  color: #fff;
}

.taskdone {
  opacity: 0.4;
  text-decoration: line-through;
}

.days-container {
  display: flex;
  gap: 0.6rem;
}

.checkbox-container {
  position: relative;
  display: flex;
  width: min-content;

  p {
    pointer-events: none;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.formcont {
  background-color: white;
  border: 3px solid #ccc;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 1rem;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: aqua; */

  input[type="color"],
  input[type="time"] {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="time"] {
    padding-left: 0.4rem;
  }

  input[type="color"]:focus {
    border-color: rgb(0, 149, 255);
  }

  input[type="text"] {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0 0.5rem;
    width: 100%;
  }

  .field {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .fieldtask {
    display: flex;
    align-items: start;
    gap: 1rem;

    .tasks {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;

      button {
        background-color: white;
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 0 0.5rem;
      }
    }

    .subtasks {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
      overflow: scroll;
    }
  }

  .buttonsform {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    button {
      width: 6rem;
      background-color: rgb(0, 149, 255);
      padding: 0.3rem 0.6rem;
      border-radius: 5px;
      color: white;
    }
  }
}
